<h1 class="text-center">Bienvenidos al taller de Ruby on Rails</h1>
<hr>
<div class="embed-responsive embed-responsive-16by9">
	<iframe src="//www.slideshare.net/slideshow/embed_code/key/AM8NXdtkPcOrwf" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
</div>